NODE_ENV=development
PORT=3000

POSTGRES_USER=car_check
POSTGRES_PASSWORD=car_check
POSTGRES_DB=car_check
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"
